body {
  justify-content: center;
}
.card {
  width: 220px;
  height: 230px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.63);
  margin-top: 10px;
  padding: 3px;
  background-color: rgba(240, 255, 252, 0.601);
}

.card img {
  width: 100%;
  max-width: 120px;
  max-height: 120px;
  height: 70%;
  object-fit: cover;
}

.card h2 {
  margin: 10px;
  font-size: 1.2rem;
}

.card h3 {
  margin: 10px;
  font-size: 1rem;
}

.card p {
  margin: 10px;
  font-size: 0.9rem;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  background-color: rgba(145, 82, 82, 0.63);
  padding: 2px;
}
